@charset "UTF-8";

@font-face {
    font-family: 'Glacial';
    src: url(../fontes/GlacialIndifference-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor-fundo-escuro: #030e27;
    --cor-fundo-escuro-secundario: #051d40;
    --cor-detalhes: #7A9BAD;
    --cor-destaque: #b1d4e0;
    --cor-fundo: #fdf9f6;
    --fonte-titulo: 'League Spartan', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;
    --glacial: 'Glacial',Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fonte-texto),Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--cor-destaque);
    line-height: 1.6;
}

header {
    margin: 0 auto;
    width: 99vw;
    height: 180px;
    background-color: var(--cor-fundo);
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 5% 50% 5% 35% 5%;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.37);
}

header > div > h1 {
    font-size: 4em;
}

.nome-site {
    line-height: 1;
    height: fit-content;
    display: flex;
    gap: 1rem;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    align-self: center;
}

#map {
    font-family: var(--fonte-titulo);
    color: var(--cor-fundo-escuro-secundario);
}

#cient {
    font-family: var(--glacial);
    font-weight: 100;
    color: var(--cor-fundo-escuro-secundario);
}

.logotipo {
    max-width: 150px;
    grid-area: 2 / 1 / 4 / 2;
}

#foto-prof {
    height: 200px;
}

nav {
    grid-area: 4 / 2 / 5 / 3;
}

.menu {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.menu > li {
    width: 210px;
    padding: 5px 0px;
}

.menu > li > a {
    text-align: center;
    display: block;
    font-family: var(--glacial);
    font-weight: 800;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor-fundo-escuro-secundario);
}

.menu > li:hover {
    background-color: var(--cor-destaque);
}

main {
    background-color: var(--cor-fundo);
    max-width: 1200px;
    margin: 10px auto;
    padding: 2rem;
}

#intro {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;

    margin-bottom: 50px;
}

#intro > h2 {
    text-align: center;
    grid-area:  1 / 1 / 2 / 3;
}

#intro > img {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}

#intro > p {
    grid-area: 2 / 2 / 3 / 3;
}

#about {
    display: grid;
    grid-template-columns: 90% auto;
    grid-template-rows: 10% auto;
    min-height: 550px;
    margin-bottom: 50px;

    border: 8px solid var(--cor-fundo-escuro);
    border-radius: 50px;
    overflow: hidden;
}

#about > h2 {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;

    background-color: var(--cor-fundo-escuro-secundario);
    color: var(--cor-fundo);
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 2em;
    
}

#texto-about {
    grid-area: 2 / 1 / 3 / 2;

    padding: 10px;
}

#texto-about > p {
    font-size: 1.2em;
}

div#redes-sociais {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: center;
}

div#redes-sociais img {
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}

div#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
    transition: 0.1s bor;
}

#author {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 8% auto;
    border: 8px solid var(--cor-fundo-escuro);
    border-radius: 50px;

    margin-bottom: 100px;
    overflow: hidden;
}

#foto-prof {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    object-position: right;
}

#biografia {
    grid-area: 2 / 2 / 3 / 3;

    text-align: justify;
    padding: 30px;
}

#author > h2 {
    grid-area: 1 / 2 / 2 / 3;

    background-color: var(--cor-fundo-escuro-secundario);
    color: var(--cor-fundo);
    font-family: var(--fonte-titulo);
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    align-items: center;
}

#depoimentos h2 {
    padding: 0px;
    background-color: var(--cor-fundo-escuro-secundario);
    width: 100%;
    color: var(--cor-fundo);
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: 600;
}

.carrossel-depoimentos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    overflow: hidden;
    margin-bottom: 50px;
}

.depoimento, .depoimento-ativo {
    min-width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.1em;
    color: var(--cor-fundo);
  }

.container-depoimentos {
    background-color: var(--cor-fundo-escuro-secundario);
    display: flex;
    transition: transform 0.5s ease;
    width: 400px; 
    overflow: hidden;
    border: 5px solid var(--cor-fundo-escuro);
    border-radius: 0px 60px 60px 60px;
  }

  .seta-esquerda, .seta-direita {
    background-color: var(--cor-detalhes);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: var(--cor-fundo);
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .seta-esquerda:hover, .seta-direita:hover {
    background-color: var(--cor-destaque);
  }

footer {
    width: 99vw;
    background-color: var(--cor-fundo-escuro-secundario);
    color: var(--cor-fundo);
    margin: 0 auto;
    padding: 2rem;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 90% auto;
}
